@use "../../../../styles/breakpoints";
@import "../../../../styles/themes/light-theme";

.logo {
  display: flex;

  @include breakpoints.media(md) {
    display: none;
  }

  flex-direction: column;
  align-items: center;

  & p {
    font-family: "Mulish";
    font-size: 15px;
    font-weight: 700;
    color: $secondary-1;
  }
}
