@import "../../../../styles/themes/light-theme";

.containerForgetPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 2rem;
  gap: 20px;
  height: 100vh;

  & .title {
    color: $secondary-1;
    font-size: 24px;
    font-weight: 700;
  }
}
