@import "../../../../../../../styles/themes/light-theme-v2";

.productItem {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: 10px;

  & .imageContainer {
    min-width: 80px;
    aspect-ratio: 1;
  }

  & img {
    border: 1px solid $grey-200 !important;
    padding: 3px;
    border-radius: 8px;
  }

  & .productTitle {
    text-align: center;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: fit-content;
    text-align: left;
    font-size: 12px;
    font-weight: 700;
    color: $text-500;
  }

  & .prices {
    display: flex;
    align-items: center;
    margin: 10px 0;

    & .dicountPercentage {
      font-size: 10px;
      font-weight: 500;
      color: $error-500;
      text-align: left;
      background-color: $error-0;
      border-radius: 2px;
      padding: 4px;
      margin-right: 8px;
    }

    & .basePrice {
      font-size: 12px;
      font-weight: 700;
      color: $text-100;
      text-align: left;
      margin-right: 8px;
      text-decoration: line-through;
    }

    & .finalPrice {
      font-size: 14px;
      font-weight: 700;
      color: $text-500;
      text-align: left;
    }
  }
}
