@import "../../../../styles/themes/light-theme";

.containerForgetPasswordMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 2rem;
  gap: 20px;
  height: 100vh;

  & .title {
    color: $secondary-1;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }

  & .inputLabel {
    color: $secondary-1;
    font-size: 14px;
    font-weight: 700;
  }

  & .loginLinkDiv {
    display: flex;
    justify-content: center;
    color: $secondary-1;
    font-size: 12px;
    gap: 0.3rem;

    & .loginText {
      font-weight: 400;
    }

    & .loginLink {
      color: $primary-1;
      text-decoration: underline;
      font-weight: 700;
      cursor: pointer;
    }
  }
}
