@import "../../../../../../styles/themes/light-theme-v2";

.membershipBenefitTooltip {
  color: $text-500;
  padding: 16px 20px;
  border-radius: 5px;
  background-color: $text-0;
  border: 1px solid $grey-100;

  & p {
    margin: 0;
    font-size: 12px;
    text-align: left;
  }

  & span {
    color: $text-0;
    &::before {
      border: 1px solid $grey-100;
    }
  }
}
