@use "../../../styles/breakpoints";
@import "../../../styles/themes/light-theme-v2";

.discountRateContainer {
  // no color palette available
  background-color: #f3efff;
  text-align: left;
  border-radius: 5px;
  padding: 10px;
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;

  @include breakpoints.media(xs) {
    background-image: url("../../../public/assets/images/membership/discount-rate-mobile.svg");
  }

  @include breakpoints.media(md) {
    background-image: url("../../../public/assets/images/membership/discount-rate.svg");
  }

  & .title {
    color: $brand-500;
    font-weight: 700;
    font-size: 12px;
  }

  & .priceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    & .discountBadge {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: $brand-0;
      padding: 4px 8px;
      border-radius: 5px;
      gap: 4px;

      & .discountIcon {
        @include breakpoints.media(xs) {
          max-width: 12px;
          max-height: 12px;
        }

        @include breakpoints.media(xs) {
          max-width: 20px;
          max-height: 20px;
        }
      }
    }
    & .discountValue {
      font-weight: 500;
      color: $brand-500;

      @include breakpoints.media(xs) {
        font-size: 12px;
      }

      @include breakpoints.media(md) {
        font-size: 20px;
      }
    }

    & .basePrice {
      font-size: 12px;
      font-weight: 700;
      text-decoration: line-through;
      color: $text-200;

      @include breakpoints.media(xs) {
        font-size: 12px;
      }

      @include breakpoints.media(md) {
        font-size: 24px;
      }
    }

    & .price {
      font-weight: 700;
      color: $text-500;

      @include breakpoints.media(xs) {
        font-size: 18px;
      }

      @include breakpoints.media(md) {
        font-size: 32px;
      }
    }
  }
}
