.packageDetailsDialog {
  border-radius: 5px;
  width: calc(100% - 25px);
  margin: 0;

  & .packageDetailsContent {
    padding: 16px;

    & .contentTitle {
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
    }

    & .contentDesc {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
    }

    & .contentLabel {
      font-size: 10px;
      font-weight: 500;
      line-height: 15px;
    }

    & .contentValue {
      font-size: 10px;
      font-weight: 600;
      line-height: 15px;
    }
  }
}
