.imageFloatFooter {
  position: absolute;
  @include breakpoints.media(md) {
    margin: 40px 0;
    display: none;
  }
  @include breakpoints.media(lg) {
    display: block;
  }
}

.containerFooter {
  margin: 40px 0;
  position: relative;
  & .imageFooter {
    position: relative;
    width: 100%;
    height: 320px;

    & .imageAstronautFall {
      @extend .imageFloatFooter;
      width: 96px;
      height: 140px;
      left: 50%;
      transform: translateX(-50%);
      bottom: 160px;
      z-index: 1;
      // animation: updown 2s infinite alternate;
    }

    & .imageHalfMoon {
      @extend .imageFloatFooter;
      width: 100%;
      height: 330px;
      top: -30px;
    }
  }

  & .cardFooter {
    position: relative;
    background: linear-gradient(96.12deg, #8cadec -3.4%, #9b39da 104.9%);
    border-radius: 16px;
    text-decoration: none;
    text-align: left;

    & .MuiTypography-h6 {
      margin: 0.6em 0;
      color: $secondary-13;
      font-size: 1em;
      font-weight: 700;
    }

    & .MuiTypography-subtitle1 {
      color: $secondary-13;
      font-size: 0.8em;
      font-weight: 400;
    }

    & .detailCardFooter {
      display: flex;
      padding-left: 60px;
      align-items: flex-start;
      flex-direction: column;
      gap: 5px;

      & .imageContent {
        width: 280px;
        & img {
          object-fit: cover;
        }
      }
    }

    & .searchInputFooter {
      display: flex;
      align-items: center;
      flex-grow: 1;

      & .searchInput {
        overflow: hidden;
        font-size: 14px;
        background-color: $secondary-11;
        height: 40px;
        width: 100%;
        font-weight: 400;
        border-radius: 10px;
        padding: 0 15px;

        // button css
        & .MuiButton-root {
          color: $secondary-3;
          background-color: transparent;
        }

        // in start position in search
        & .MuiInputAdornment-positionCenter {
          padding: 30px 10px;
          margin-left: -10px;
          font-weight: 600;
        }

        // this custom css divider
        & .MuiDivider-root {
          border: 1px solid $secondary-8;
          margin-left: 10px;
          height: 20px;
        }
      }
    }

    & .subscribe-button {
      background-color: $quinary-1;
      padding: 11px 24px;
      border-radius: 10px;
      font-size: 12px;
      font-weight: 500;
      color: $secondary-13;
    }

    & .Mui-disabled {
      background-color: $secondary-10;
      color: $secondary-5;
    }
  }
}

@keyframes updown {
  to {
    -webkit-transform: translateY(40px);
    transform: translateY(30px);
  }
}
