@import "../../../../styles/themes/light-theme-v2";

.sectionPageContainer {
  & .pageHeader {
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: $text-0;

    & .pageHeaderText {
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.20000000298023224px;
    }
  }

  & .backIconBtnHeader {
    padding-top: 4px;
    z-index: 99;
    margin-top: 0.12em;
    & .MuiTouchRipple-root {
      right: 4px;
      left: -4px;
    }
    color: $text-900;
  }

  & .pageContent {
    padding: 20px;
    margin-top: 41.15px;
  }
}
