.forgotPasswordDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 3rem 6rem;
  gap: 1.5rem;
  height: 100vh;

  & .title {
    color: $secondary-1;
    font-size: 24px;
    font-weight: 700;
  }

  & .inputLabel {
    color: $secondary-3;
    font-size: 14px;
    font-weight: 700;
  }

  & .formInput {
    border-radius: 8px;
  }

  & .additionalLinkDiv {
    display: flex;
    justify-content: space-between;
    color: $secondary-6;

    .text {
      color: $secondary-6;
      font-size: 14px;
    }

    & .loginLinkDiv {
      display: flex;

      & .loginText {
        @extend .text;
        font-weight: 400;
      }

      & .loginLink {
        @extend .text;
        text-decoration: underline;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
}
