@import "../../../../../../styles/themes/light-theme";

.heroBanner {
  overflow: hidden;
  width: 100%;
  height: 26vh;
  object-fit: contain;
  border-radius: 10px;
  margin: 16px auto 0;
}
